{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    },
    "baseUrl": "./src",
    "paths": {
      "src/*": ["./*"],
      "bot/*": ["./bot/*"],
      "const/*": ["./const/*"],
      "models/*": ["./models/*"],
      "util/*": ["./util/*"]
    },
    "experimental": {
      "keepImportAssertions": true
    }
  }
}
