name: ActivityRank

configs:
  config:
    file: ./config/config.json

secrets:
  keys:
    file: ./config/keys.json

services:
  db:
    container_name: Database
    image: mysql:8.0
    restart: always
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
    volumes:
      - ./docker/db/init:/docker-entrypoint-initdb.d
      - ./docker/db/data:/var/lib/mysql
      - ./docker/db/my.cnf:/etc/mysql/my.cnf
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password

  proxy:
    container_name: Proxy
    image: ghcr.io/twilight-rs/http-proxy:metrics
    restart: always
    environment:
      # DISCORD_TOKEN is required but the Authorization header should be used to supply the token.
      - DISCORD_TOKEN=__required__
    ports:
      - "3001:80"

  bot:
    container_name: Bot
    build:
      context: .
      dockerfile: apps/bot/Dockerfile
    image: "activityrank/bot:dev"
    ports:
      - "3010:3000"
    configs:
      - config
    secrets:
      - keys

  api:
    container_name: API
    restart: always
    init: true
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    image: "activityrank/api:dev"
    depends_on:
      - db
    links:
      - db
    ports:
      - "3000:3000"
    secrets:
      - keys
    configs:
      - config

  web:
    container_name: Website
    init: true
    build:
      context: .
      dockerfile: apps/web/Dockerfile
      args:
        - COMMIT_HASH=develop
    image: "activityrank/web:dev"
    depends_on:
      - db
      - api
    links:
      - db
      - api
    ports:
      - "3050:3000"
    env_file: apps/web/.env
    environment:
      - ORIGIN=http://localhost:3050
      - PUBLIC_ORIGIN=http://localhost:3050
      - DB_HOST=db
      - MANAGER_HOST=api:3000
