# Based on https://github.com/changesets/changesets/discussions/1230

name: Publish Docker Images

on:
  push:
    branches: ["master"]

env:
  REGISTRY: ghcr.io

permissions:
  contents: write
  pull-requests: write
  packages: write

jobs:
  # Update package versions and create GitHub releases with `changesets`.
  #
  # May just create a Pull Request, but if it does `outputs.published` will
  # be false and so the `publish-docker` job will be skipped.
  version:
    name: Release Changesets
    runs-on: ubuntu-latest

    outputs:
      # format: boolean
      published: ${{ steps.changesets.outputs.published }}
      # format: [{"name": "@xx/xx", "version": "1.2.0"}, {"name": "@xx/xy", "version": "0.8.9"}]
      publishedPackages: ${{ steps.changesets.outputs.publishedPackages }}
      # format: [{"name": "xx", "version": "1.2.0"}, {"name": "xy", "version": "0.8.9"}]
      filteredPackages: ${{ steps.filter.outputs.output }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install development dependencies
        run: pnpm install --frozen-lockfile --dev

      - name: Create and publish versions
        id: changesets
        uses: changesets/action@v1
        with:
          publish: "pnpm changeset publish"
          commit: "chore: update versions"
          title: "chore: update versions"
        env:
          GITHUB_TOKEN: ${{ secrets.PIEMOT_PAT }}

      - name: Filter published packages
        id: filter
        run: |-
          echo ${{ steps.changesets.outputs.publishedPackages }}
          | jq -c '
            map(
              (.name | match("@activityrank\\/([a-z-]+)") | .captures[0].string) as $package_name 
              | select($package_name | . == "api" or . == "bot" or . == "web")
              | { "name": $package_name, "version": .version }
            )' >> $GITHUB_ENV

  publish-docker:
    name: Publish Docker Images
    runs-on: ubuntu-latest

    needs: version
    if: fromJson(needs.version.outputs.filteredPackages).length > 0

    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.version.outputs.filteredPackages) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get version information
        run: |
          sha_hash=${{ github.sha }}
          sha_short="${sha_hash:0:7}"
          echo "GIT_HASH=$sha_short" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/rapha01/activityrank/${{ matrix.package.name }}
          tags: |
            type=semver,pattern={{major}},value=${{ matrix.package.version }}
            type=semver,pattern={{major}}.{{minor}},value=${{ matrix.package.version }}
            type=semver,pattern={{version}},value=${{ matrix.package.version }}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./apps/${{ matrix.package.name }}/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            COMMIT_HASH=${{ env.GIT_HASH }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
